{% load staticfiles %}
<html>
<head>
<title> Contact Form </title>
 <link href="{% static 'css/contact_us.css' %}" rel="stylesheet">

</head>

<body>
<div class="Contact-form">
<form >
<table id = "maintable" border : "1px solid black" align = "center" cellpadding = "10" style="border-collapse: collapse;">
<b><tr align="center" style="color:#DC143C;font-family:verdana;font-size:200%"><td style="font-weight:bold">CONTACT US!</td></tr></b>
		<tr>
			<td style="font-weight:bold">Your Name</td>
			
		</tr>

		<tr>
			<td style="font-weight:bold"><input type = "text" size="40"></input>
			<input type = "text" size="40"></input>
			<br>
			First Name &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			Last Name</td>
			
		</tr>
		
		
		<tr>
			<td style="font-weight:bold">E-Mail</td>
		</tr>
		<tr>
			<td><input type = "text" size="40"> </input> </td>
		</tr>

		<tr>
			<td style="font-weight:bold">Phone Number</td>
		</tr>
		<tr>
			<td style="font-weight:bold"><input type = "text" size="40"></input> - 
			<input type = "text" size="40"></input> 
			<br>
			Area Code &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			Phone Number
		</tr>
			
	    <tr >
			<td style="font-weight:bold">Country</td>
			</tr>
			<tr>
			<td ><input type = "text" size="40"></input></td>
		</tr>
		<tr>
			<td style="font-weight:bold">Message</td></tr>
			<tr>
			<td> <textarea rows = "6" cols = "50"> </textarea> </td>
		</tr>
		<tr align = "center">
			<td> <input type = "submit" value = "Submit"></input> <input type = "submit" value = "Reset"></input></td>
		</tr>
		
		
				
		
</table>

</form>

</div>

</body>



</html>