<!DOCTYPE html>
<html>

<head>
  <title>Travel Oasis</title>
  <link rel="stylesheet" href="TravelOasis.css">
 
</head>

  <body>
  <div class="p">
  


  <form align="center" >

  <i><h1 align="center" style="color:#DC143C;font-family:verdana;font-size:500%">TRAVEL OASIS</h1></i>
  <b><h2 align="center" style="color:#FF8C00;font-family:Comic Sans MS;font-size:300%">Preference of Climate</h2></b>


  <input type="radio" class="radio" name="climate" id="Cool and Chilly" value="Cool and Chilly" checked> <label style="font-size: 30px;">Cool and Chilly</label><br>
  
  <input type="radio" class="radio" name="climate" value="Dry and Humid" style="text-align:center; "><label style="font-size: 30px;">Dry and Humid</label> <br>

  <input type="radio" class="radio" name="climate" value="Hot and Breezy"><label style="font-size: 30px;">Hot and Breezy</label> <br>

  
  <input type="button" value="Previous"   ></input>
 <input type="button" class="n" value="Next"></input>

  </form>
  
  </div>
  </body>
</html>
