{% load staticfiles %}
<html>

<head>
  <title>Travel Oasis</title>
  <link href="{% static 'css/qclimate.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

  <body>
  <div class="p">
  


  <form align="center" >

  <i><h1 align="center" style="color:#DC143C;font-family:verdana;font-size:500%">TRAVEL OASIS</h1></i>
  <b><h2 align="center" style="color:#FF8C00;font-family:Comic Sans MS;font-size:300%">Preference of Climate</h2></b>


  <input type="radio" class="radio" name="climate" id="Cool and Chilly" value="Cool and Chilly" checked> <label style="font-size: 30px;">Cool and Chilly</label><br>
  
  <input type="radio" class="radio" name="climate" value="Dry and Humid" style="text-align:center; "><label style="font-size: 30px;">Dry and Humid</label> <br>

  <input type="radio" class="radio" name="climate" value="Hot and Breezy"><label style="font-size: 30px;">Hot and Breezy</label> <br>

  
 <a href="{% url 'qgender' %}" class="btn btn-info">Previous</a>
  <a href="{% url 'qduration' %}" class="btn btn-info">Next</a>

  </form>
  
  </div>
  </body>
</html>
