<!DOCTYPE html>
<html>

<head>
  <title>Travel Oasis</title>
  <link rel="stylesheet" href="TravelOasisQ2.css">
 
</head>

  <body>
  <div class="p">
  


  <form align="center" >

  <i><h1 align="center" style="color:#202A17;font-family:verdana;font-size:500%">TRAVEL OASIS</h1></i>
  <b><h2 align="center" style="color:#FF8C00;font-family:Comic Sans MS;font-size:300%">Enter your Gender</h2></b>


  <input type="radio" class="radio" name="gender" id="Male" value="Male" checked> <label style="font-size: 30px;">Male</label><br>
  
  <input type="radio" class="radio" name="gender" id="Female" value="Female" style="text-align:center; "><label style="font-size: 30px;">Female</label> <br>

  <input type="radio" class="radio" name="gender" id="Other" value="Other"><label style="font-size: 30px;">Others</label> <br>

  
  <input type="button" value="Previous"  ></input>
  <input type="button" class="n" value="Next"></input>

  </form>
  
  </div>
  </body>
</html>
