<!DOCTYPE html>
<html>

<head>
  <title>Travel Oasis</title>
  <link rel="stylesheet" href="TravelOasisQ3.css">
 
</head>

  <body>
  <div class="p">
  


  <form align="center" >

  <i><h1 align="center" style="color:#DC143C;font-family:verdana;font-size:500%">TRAVEL OASIS</h1></i>
  <b><h2 align="center" style="color:#FF8C00;font-family:Comic Sans MS;font-size:300%">Duration of the trip</h2></b>


  <input type="radio" class="radio" name="group"  value="Group" checked> <label style="font-size: 30px;">Group</label><br>
  
  <input type="radio" class="radio" name="group"  value="Solo" style="text-align:center; "><label style="font-size: 30px;">Solo </label> <br>

  

  
  <input type="button" value="Previous"  ></input>
  <input type="button" class="n" value="Next"></input>

  </form>
  
  </div>
  </body>
</html>
